{% extends "base.html" %}
{% block body_title %}Willkommen auf den Webseiten der vACC Germany{% endblock %}
{% block body %}
    Willkommen auf den Webseiten von VATSIM Germany, der vACC für Deutschland im
    <b><a href="http://vatsim.net/" target="_blank">VATSIM</a></b>-Netzwerk. Auf unseren Seiten findet Ihr alle
    relevanten Informationen für den Onlineflug bei <a href="http://www.vatsim.net/" target="_blank"><b>VATSIM</b></a>
    in unserem Gebiet.<br>
    <br>
    VATSIM Germany ist Mitglied in der <b><a href="http://www.vateud.net" target="_blank">VATSIM Europe Division</a></b>
    , die wiederum mit den Divisions <b><a href="http://www.vatsim-uk.co.uk" target="_blank">UK</a></b> und
    <b><a href="http://www.vatrus.info" target="_blank">Russia</a></b> die
    <b><a href="http://www.vateur.org" target="_blank">VATSIM Europe Region</a></b> bildet.<br>
    <br>
    Wir hoffen, daß es Euch auf unseren Webseiten gefällt und wünschen Euch immer "blue skies" und "always three
    greens".<br>
    <br>
    Euer VATGER Staff

    <img src="/static/img/splash/splash.jpg">
{% endblock %}