{% extends "base.html" %}
{% block body_title %}Willkommen auf den Webseiten der vACC Germany{% endblock %}
{% block body %}

    Folgende Vorraussetzungen solltest Du mitbringen um dich bei uns zu registrieren:

    <ol>
        <li>Du musst Mitglied bei VATSIM und im Besitz einer VATSIM ID sein. Bei Problemen mit der dortigen Anmeldung
            kann dir hier geholfen werden.
        </li>
        <li>Du akzeptierst unsere Regeln.</li>
        <li>Du stimmst zu, dass die hier gemachten Angaben in einer Datenbank für interne Zwecke gespeichert werden.
        </li>
    </ol>

    Solltest Du noch Fragen bezüglich deiner Registrierung haben, so kannst du jederzeit mit uns über dieses Formular in
    Kontakt treten. Eine weitere Informationsquelle ist natürlich unser Forum.

    Nachdem Du das untere Formular abgesendet hast, bekommst Du eine Mail mit einem Link. Dieser Link muss dann von dir
    bestätigt werden. Danach ist deine Registrierung abgeschlossen, dein Account aber noch NICHT aktiv. Erst wenn Dueine
    weitere Bestätigung per Mail erhältst, hast Du vollen Zugang zum Members Bereich und speziell für unsereMitglieder
    erstellte Files..

    Hier nun das Formular, alle Felder sind Pflichtfelder!
{% endblock %}